.footer {
    width: 100%;
    background-color: #344b8e;
    position: relative;
}

.footer-container {
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    padding: 0;
}

.footer-wrapper {
    padding-top: 20px;
    text-align: center;
    font-weight: 500;
    ul {
        li {
            display: inline-block;
            .footer-content {
                
                color: #fff;
                text-align: center;
                background-color: #344b8e;
                text-decoration: none;
                &:hover {
                    color: #30b4e2;
                } 
            }
        }
    }
}


