.portfolio {
    background-color: #ffdd99;
    color: #393939;
  }
  
  .portfolio-header {
      margin-bottom: 40px;
      @include after-line(#e5c37f);
  }
  
  .portfolio-panel{
    float: none;
    text-align: center;
    margin-bottom: 60px;
    border-radius: 5px;
    ul{
        li{
            display: inline-block;
        }
    }
    }

.portfolio-content {
    width: 100%;
    .portfolio-img-wrapper {
        padding: 8px;
        box-sizing: border-box;
        margin: 0 auto;
        img {
            display: inline-block;
            margin-bottom: 30px;
            width: 100%;
        }
        .portfolio-img-text {
            text-align: center;
            text-transform: uppercase;
        }
    }   
}
.portfolio-button-wrapper {
    text-align: center;
    
  }
  