.portfolio {
    background-color: #ffdd99;
    color: #393939;
  }
  
  .portfolio-header {
      margin-bottom: 40px;
  }
  
  .portfolio-line {
      @include header-line(#e5c37f);
  }
  .portfolio-panel{
    float: none;
    text-align: center;
    padding-bottom: 60px;
    }

.portfolio-content {
    .portfolio-img-wrapper {
        padding: 8px;
        img {
            display: inline-block;
            margin-bottom: 30px;
            width: 100%;
        }
        .portfolio-img-text {
            text-align: center;
            text-transform: uppercase;
        }
    }   
}
.portfolio-button-wrapper {
    text-align: center;
    
  }
  