.portfolio {
    background-color: #ffdd99;
    color: #393939;
  }
  
  .portfolio-header {
      @include header;
      margin-bottom: 40px;
  }
  
  .portfolio-description {
      @include header-desc;
  }
  
  .portfolio-line {
      @include header-line(#e5c37f);
  }
  .portfolio-panel{
    @include panel(#ebc985, #fff, #45433e);
    float: none;
    text-align: center;
    padding-bottom: 60px;
    }

.portfolio-content {
    .portfolio-img-wrapper {
        float: left;
        padding: 8px;
        img {
            display: inline-block;
            width: 500px;
            margin-bottom: 30px;
        }
        div {
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 65px;
        }
    }   
}
.portfolio-button-wrapper {
    text-align: center;
    .portfolio-button {
        @include button(#17c2a4, #14a58c);
      }
  }
  