@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .container {
      max-width: 1140px;
    }
    .welcome-hidden-menu {
      display: none;
    }

    .portfolio-content {
      .portfolio-img-wrapper {
          float: left;
          padding: 8px;
          width: 48%;
          img {
              display: inline-block;
              max-width: 400px;
              margin-bottom: 30px;
    }
  }
}

    .testimonials-wrapper {
      width: 46%;
    }
    .testimonials-text {
      max-width: 54%;
      float: left;
    }

    .level1 {
      margin-bottom: 100px;
    }

    .input-wrapper {
      input{
        width: 45%;
      }
      textarea {
        width: 96%;
        padding: 20px;
      }    
    }
    .input-second {
      float: right;
  }

    .footer-content {
      padding: 20px 30px;
      font-size: 24px;
    }
    
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
      max-width: 960px;
    }

    .welcome-hidden-menu {
      display: none;
    }

    .services-content {
      width: 46%;
      padding-bottom: 30px;
      transition: width 2s, height 4s, transform 2s;
      img {
        margin-bottom: 25px;
      }
    }
    
    div.team-content {
      width: 46%;
      padding-bottom: 30px;
      transition: width 2s, height 4s, transform 2s;
    }

    div.skills-content {
      width: 46%;
      padding-bottom: 30px;
      margin-bottom: 20px;
      transition: width 2s, height 4s, transform 2s;
    }
  

  .portfolio-img-wrapper {
    max-width: 47%;
    float: left;
    img {
      width: 100%;
      max-width: 500px;
    }
  }
  
  .portfolio-panel div a {
    padding: 15px 20px;
    &:hover {
      padding: 15px 20px;
    }
  }

    .testimonials-wrapper {
      width: 45%;
    }
    .testimonials-text {
      max-width: 50%;
      float: right;
    }

    .level1 {
      margin-bottom: 80px;
    }

    .input-wrapper {
      input{
        width: 43%;
      }
      textarea {
        width: 96%;
        padding: 15px;
      }    
    }

    .input-second {
      float: right;
  }

    .footer-content {
      padding: 20px;
      font-size: 24px;
    }


  }

  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      max-width: 720px;
    }
    .panel {
      display: none;
      
    }

    .welcome-hidden-menu {
      display: block;
      float: right;
      cursor: pointer;
      div {
        display: block;
        width: 40px;
        height: 5px;
        background-color: #fff;
        margin: 6px; 
      }
    }

    .services-content {
      width: 45%;
      
    }

    .team-content h2 {
      text-align: center;
  }
    div.team-content {
      width: 45%;
      margin: 25px 10px;
    }

    div.skills-content {
      width: 45%;
    }

    .portfolio-img-wrapper {
      float: none;
      width: 100%;
      display: block;
      div{
        margin: auto;
        margin-bottom: 30px;
        img {
          max-width: 100%;
          display: inline-block;
        }
      }
    }

    .portfolio-panel div a {
      padding: 15px 20px;
      &:hover {
        padding: 15px 20px;
        color: #000;
      }
    }

    .testimonials-text h1,h2 {
      text-align: right;
  }

  .input-wrapper {
    input{
      width: 40%;
      padding: 0;
    }
    textarea {
      width: 100%;
      padding: 9px;
    }    
  }

  .input-second {
    float: right;
}

.footer-content {
  padding-right: 10px;
  padding-top: 10px;
  font-size: 24px;
}

  }
  
  @media (max-width: 767px) {
    .container {
      width: 100%; 
      box-sizing: border-box;
      padding: 60px 50px; 
    }

    .panel {
      display: none;
      
    }

    .welcome-hidden-menu {
      display: block;
      float: right;
      cursor: pointer;
      div {
        display: block;
        width: 40px;
        height: 5px;
        background-color: #fff;
        margin: 6px; 
      }
    }

    .services-content {
      width: 45%;
      margin: 30px auto;
      float: none;
      
    }

    div.team-content {
      width: 100%;
    }

    .team-content h2 {
      text-align: center;
  }

    div.skills-content {
      width: 100%;
      margin-bottom: 30px;
    }

    .portfolio-img-wrapper {
      float: none;
      width: 100%;
      display: block;
      div{
        margin: auto;
        margin-bottom: 30px;
        img {
          max-width: 100%;
          display: inline-block;
        }
      }
    }

    .portfolio-panel div a {
      padding: 10px 10px;
      &:hover {
        padding: 10px 10px;
        color: #000;
      }
    }

    .testimonials-text h1,h2 {
      text-align: right;
  }

  .input-wrapper {
    input{
      float: left;
      width: 96%;
      padding: 0;
    }
    textarea {
      width: 100%;
      padding: 9px;
    }    
  }

  .input-wrapper .input-second {
    float: left;
}

.footer-content {
  padding-right: 10px;
  padding-top: 10px;
  font-size: 18px;
}

  
  }