.team {
    background-color: #e7f1f8;
    color: #3c4761;
  }

  .team-header {
    margin-bottom: 80px;
  }
  
  .team-content {
    @include container-inline-4(#27283d);
    .circle {
        @include circle(100px, #878787); 
    }
    .team-icons {
        .circle-min {
            position: relative;
            display: inline-block;
            width: 0px;
            height: 0px;
            border: 17px solid #bdd1df;
            border-radius: 17px;
            margin: auto;
            .fa {
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)
            }
        }
    }
  }
  
  .team-line {
      @include header-line(#bdd1df);
  }
  