.team {
    background-color: #e7f1f8;
    color: #3c4761;
    .team-container {
        width: 100%;
    }
  }

  .team-header {
    margin-bottom: 80px;
    @include after-line(#bdd1df);
  }
  
  .team-content {
    @include container-inline-4(#27283d);
    
    p {
        margin-bottom: 15px;
    }
    .team-icons {
        .socials-icon {
            position: relative;
            display: inline-block;
            width: 32px;
            height: 32px;

            a {
                line-height: 1.9;
                display: block;
                background: #bdd1df;
                border-radius: 17px;
                &:hover {
                    background-color: #d9e6f0;
                }
            }
            .fa {
                color: #fff;
            }
        }
    }
  }
  