.testimonials {
    background-color: #d74680;
    color: #fff;
  }
  
  .testimonials-header {
      margin-bottom: 40px;
      @include after-line(#b73c6d);
  }

.testimonials-content {
    .testimonials-wrapper {    
        float: left;
        padding: 15px;
        text-align: left;
        .testimonials-text {
            p {
                font-style: italic;
            }
            h6 {
                text-transform: uppercase;
                margin-bottom: 0;
            }
            h2 {
                color: #ffdd99;
                margin: 0;
            }
        }    
    } 
}

.level2 {
    clear: both;
}