.testimonials {
    background-color: #d74680;
    color: #fff;
  }
  
  .testimonials-header {
      margin-bottom: 40px;
  }
  
  .testimonials-line {
      @include header-line(#b73c6d);
  }

.testimonials-content {
    .testimonials-wrapper {    
        float: left;
        padding: 15px;
        .testimonials-text {
            p {
                margin: 0;
                font-size: 21px; 
                font-style: italic;
            }
            h1 {
                font-size: 24px;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            h2 {
                font-size: 18px;
                color: #ffdd99;
                margin: 0;
            }
        }    
    } 
}

.level2 {
    clear: both;
}