.welcome {
  background-color: #87509c;
}

.welcome-text{
  text-align: center;
  clear: both;
  font-size: 42px;
  color: #fff;
  margin-top: 146px;
}

.panel{
  @include panel(#87509c, #643a79, #fff);
  }
  
.logo {
  float: left;
}
.welcome-button-wrapper {
  text-align: center;
}

.welcome-button {
  @include button(#eb7d4b, #c86a40);
}