.welcome {
  background-color: #87509c;
}

.welcome-text{
  text-align: center;
  clear: both;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  width: 72%;
  margin: auto;
  margin-bottom: 60px;
}

.panel{
  @include panel(#87509c, #643a79, #fff);
  margin-bottom: 145px;
  a {
    color: #fff;
    text-decoration: none;
  }
  .active {
    background-color: #643a79;
  }
  }
  
.logo {
  float: left;
}
.welcome-button-wrapper {
  text-align: center;
}

.welcome-button {
  @include button(#eb7d4b, #c86a40);
}