@mixin header {
        text-align: center;
        margin-bottom: 80px;
        h1 {
          font-size: 40px;
          text-transform: uppercase;
        }
  }

@mixin header-line($color) {
        width: 87px;
        height: 5px;
        background-color: $color;
        margin: auto;
        margin-bottom: 25px;
  }

@mixin header-desc {
        font-size: 18px;
        width: 100%;
        margin: auto;
  }

@mixin container-inline-4($color) {
  text-align: center;
  float: left;
  width: 22%;
  margin: 0 10px;
  img {
    max-height: 125px;
    margin-bottom: 40px;
  }
  h1 {
    font-size: 24px;
    color: $color;
  }
  h2 {
    font-size: 16px;
    color: #48c1e9;
  }
  p {
    font-size: 18px;
  }
}

@mixin circle($radius, $color) {
  width: 0px;
  height: 0px;
  border: $radius solid $color;
  border-radius: $radius;
  margin: auto;
  position: relative;
}

@mixin circle-center($radius, $color) {
  width: 0px;
  border: $radius solid $color;
  height: 0px;
  border-radius: $radius;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@mixin circle-segment($color, $deg1, $deg2) {
  border-radius: 100%;
  width: 161px;
  height: 161px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-image:
  linear-gradient($deg1, transparent 50%, $color 50%),
  linear-gradient($deg2, $color 50%, transparent 50%);
}

@mixin panel($color1, $color2, $color3) {
  float: right;
  vertical-align: middle;
  div {
    display: inline-block;
    background-color: $color1;
    text-align: center;
    vertical-align: middle;
    color: $color3;
    font-size: 16px;
    height: 35px;
    cursor: pointer;
    line-height: 35px;
    padding: 10px;
    &:hover, &:active, &:visited{
      background-color: $color2;
      padding: 10px;
    }
  }
}

@mixin button ($color1, $color2) {
  display: inline-block;
  height: 75px;
  width: 295px;
  background-color: $color1;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 5px $color2;
  cursor: pointer;
  margin: auto;
  margin-top: 60px;
}
